@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #phone-nav {
    display: flex;
  }
  .arrow-icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    padding: 20px;
    text-align: left;
    min-height: fit-content;
  }

  .logo {
    font-size: 1.5rem;
  }

  .logo-picture {
    height: 5rem;
  }

  .cta-container {
    padding-top: 0;
    font-size: 3vh;
    text-align: center;
  }

  .cta-button:hover {
    font-size: 3.6vh; /* Scale the font size on hover */
  }

  .icon {
    height: 4vh;
  }

  .header-text {
    font-size: 1.5rem;
  }

  .text-container {
    margin: 0 auto;
    max-width: 90%;
  }

  #tutorial {
    height: 80vh;
  }

  .steps h2 {
    font-size: 2rem; /* Adjust font size as needed */
    margin-bottom: 5px; /* Add some space below header */
  }

  .steps p {
    font-size: 1rem; /* Adjust font size as needed */
    margin-bottom: 20px; /* Add some space below paragraph */
  }

  .tut-pic {
    margin: 0;
    height: 16vh;
  }

  #sprints {
    height: 100vh;
  }

  .sprint-box h3 {
    font-size: 1rem;
  }

  .sprint-box li {
    padding: 2.5px;
    font-size: 0.6rem;
  }

  .sprint-pic {
    height: 12vh;
  }

  #about {
    height: 80vh;
  }

  .about-content {
    max-width: 90%;
  }

  .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .image-item img {
    width: 50px;
    height: 50px;
  }

  #contact {
    height: 80vh;
  }

  .nav-links {
    font-size: 1rem;
  }
}
